<div class="row bg-title">
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
    <h4 class="page-title">Analyser</h4>
  </div>
  <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
    <ol class="breadcrumb">
      <li><a href="#">Main menu</a></li>
      <li class="active">New header</li>
    </ol>
  </div>
</div>
<div class="row">
<div class="col-md-12">
  <div class="white-box">
    <div>
      <h3 class="box-title">Paste the header below</h3>
      <div class="form-group">
          <textarea class="form-control" id="headerInput" rows="15" placeholder="Enter text ..."></textarea>
      </div>
      <hr>
      <button id="analyseButton" class="btn btn-primary"><i class="fa fa-bolt"></i> Analyse</button>
    </div>
  </div>
</div>
