<div class="row bg-title">
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
    <h4 class="page-title">Analyser</h4>
  </div>
  <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
    <ol class="breadcrumb">
      <li><a href="#">Main menu</a></li>
      <li class="active">Analyser</li>
    </ol>
  </div>
</div>
<div id="headerTextRow" class="row">
  <div class="col-lg-12">
    <div class="white-box">
      <div>
        <h3 class="box-title">Paste the header below</h3>
        <div class="form-group">
          <textarea class="form-control" id="headerInput" rows="15" placeholder=""></textarea>
        </div>
        <div class="checkbox checkbox-success" id="saveBoxDiv">
          <input id="saveBox" type="checkbox">
          <label for="saveBox"> Save this </label>
          <br>
        </div>
        <div class="form-group" id="additionalInfo">
          <hr>
          <label>Name</label>
          <input type="text" class="form-control" id="headerNameInput" placeholder="Name your header">
          <br>
          <label>Description</label>
          <textarea class="form-control" id="headerDescriptionInput" rows="3" placeholder="Optional"></textarea>
        </div>
        <div id="buttonGroup">
          <hr>
          <button id="analyseButton" class="btn btn-primary"><i class="fa fa-bolt"></i> Analyse</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="resultsRow" class="row">
  <div class="col-lg-12">
    <div class="white-box">
      <h3 class="box-title">
        Results Highlights
      </h3>
      <div id="results">
        <!-- <a class="get-code" data-toggle="collapse" href="#pgr9" aria-expanded="true">
          <i class="fa fa-file-text-o" title="Show input" data-toggle="tooltip"></i>
        </a>
        <div class="collapse m-t-15" id="pgr9" aria-expanded="true">
          <code>
            Message-ID: <1428478561156.3743@iariaevent.org>
          </code>
        </div> -->
      </div>
      <!-- <p>Tesseract, finite but unbounded take root and flourish,
        <span class="mytooltip tooltip-effect-1">
          <span class="tooltip-item2">Euclid</span>
          <span class="tooltip-content4 clearfix">
            <span class="tooltip-text2">
              <strong>Euclid</strong>, also known as Euclid of Alexandria, was a Greek mathematician, often referred to as the "Father of Geometry". He was active in Alexandria during the reign of Ptolemy I. <a href="http://en.wikipedia.org/wiki/Euclid">Wikipedia</a>
            </span>
          </span>
        </span>
        rogue laws of physics, star stuff harvesting star light, encyclopaedia galactica are creatures of the cosmos the only home we've ever known ship of the imagination prime number
        <span class="mytooltip tooltip-effect-2">
          <span class="tooltip-item2">quasar</span>
          <span class="tooltip-content4 clearfix">
            <span class="tooltip-text2">
              <strong>Quasars</strong> are believed to be powered by accretion of material into supermassive black holes in the nuclei of distant galaxies, making these luminous versions of the general... <a href="http://en.wikipedia.org/wiki/Quasar">Wikipedia</a>
            </span>
          </span>
        </span>
        courage of our questions.
      </p>
      <p>Colonies. Jean-François Champollion, billions upon billions descended from astronomers the sky calls to us! Made in the interiors of collapsing stars, billions upon billions radio telescope paroxysm of global death not a sunrise but a galaxyrise, gathered by gravity permanence of the stars?</p> -->
      <hr>
      <button id="backButton" class="btn btn-primary"><i class="fa fa-backward"></i> Back</button>
    </div>
  </div>
</div>
<div id="receivedRow" class="row">
  <div class="col-lg-12">
    <div class="white-box">
      <h3 class="box-title m-b-0">Routing information</h3>
      <p class="text-muted m-b-20">The traces of the message as it relayed across different severs</p>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Hop</th>
              <th>From</th>
              <th>By</th>
              <th>With</th>
              <th>For</th>
              <th>Timestamp</th>
            </tr>
          </thead>
          <tbody id="receivedTable"></tbody>
        </table>
      </div>
      <div id="map-canvas"></div>
    </div>
  </div>
</div>
<div id="cveRow" class="row">
  <div class="col-lg-12">
    <div class="white-box">
      <h3 class="box-title m-b-0">Vulnerability Information</h3>
      <p class="m-b-20" id="cveIntro">The analyser has failed to detect any software information from the header provided. <br> You may still use the search box below to look for vulnerability records of a specific product. </p>
      <div>
        <input type="text" class="form-control" autocomplete="off" id="softwareInput" placeholder="e.g. Apple Mail, MDaemon etc."/>
      </div>
      <table id="cveTable" class="table m-b-0 toggle-arrow-tiny" data-page-size="20" data-paging-limit="3">
        <!-- <label class="form-inline">Show
          <select id="cveShowEntries" class="form-control input-sm">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
          </select>
          entries </label> -->
        <thead>
          <tr>
            <th data-toggle="true" data-sort-initial="descending"> CVE-ID </th>
            <th> CVSS </th>
            <th data-hide="phone"> Last modified </th>
            <th data-hide="all"> Attack Vector (AV) </th>
            <th data-hide="all"> Attack Complexity (AC) </th>
            <th data-hide="all"> Privileges Required (PR) </th>
            <th data-hide="all"> Confidentiality (C) </th>
            <th data-hide="all"> Integrity (I) </th>
            <th data-hide="all"> Availability (A) </th>
            <th data-hide="all"> Summary </th>
          </tr>
        </thead>
        <tbody id="cveResults">
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              <div class="text-right">
                <ul class="pagination pagination-split m-t-30"></ul>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLEMAPS'] %>"></script>
<%= javascript_include_tag "initMap" %>
<%= javascript_include_tag "smart-autocomplete" %>
<%= javascript_include_tag "analyser" %>
