<form id="headerForm">
  <div class="form-group">
    <label for="comment">Header:</label>
    <textarea class="form-control" rows="5" id="headerInput"></textarea>
  </div>
  <div class="checkbox">
    <label><input type="checkbox">Save this</label>
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
